
@{
    ViewData["Title"] = "RegistroCliente";
}
@model Veterimax.Models.Cliente
@using Veterimax.Controllers
@using System.Data

<html>
<head>
    <title>Registro de Cliente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/formstyle.css">
    <script type="text/javascript" src="~/js/Validacion.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
        function Editar() {
            var count = -1;
            document.getElementById('evalHidden').value = "true";
            document.getElementById('titulo').innerHTML = "Edicion de Cliente"
            var table = document.getElementById('table1');
            var check = table.getElementsByTagName("input");
            for (var i = 0; i < check.length; i++) {
                if (check[i].checked) {
                    if (count > -1) {
                        count = -1;
                        document.getElementById("alertaExito").className = "alert alert-warning";
                        document.getElementById("alertaExito").innerHTML = "No puede seleccionar mas de una fila para entrar en modo edicion.";
                        break;
                    }
                    count = i;
                }
            }
            if (count != -1) {
                var row = table.rows[count];
                document.getElementById('nombre').value = row.cells[1].innerHTML;
                document.getElementById('nombre').addEventListener("input", nombre_Input.bind(null, 'nombre'));
                document.getElementById('apellido').value = row.cells[2].innerHTML;
                document.getElementById('apellido').addEventListener("input", apellido_Input.bind(null, 'apellido'));
                document.getElementById('sexo').value = row.cells[3].innerHTML;
                document.getElementById('telefono').value = row.cells[5].innerHTML;
                document.getElementById('telefono').addEventListener("input", telefono_Input.bind(null, 'telefono'));
                document.getElementById('direccion').value = row.cells[6].innerHTML;
                document.getElementById('correo').value = row.cells[7].innerHTML;
                document.getElementById('correo').addEventListener("input", email_Input.bind(null, 'correo'));
                document.getElementById('cedula').value = row.cells[4].innerHTML;
                document.getElementById('cedula').readOnly = true;
                $("#myModal").modal("show");
            }
            else {
                document.getElementById("alertaExito").className = "alert alert-warning";
                document.getElementById("alertaExito").innerHTML = "Debe seleccionar una fila para entrar en modo de edicion.";
            }
        }
        function Eliminar() {
            var listaEliminar = [];
            var listaClientes = [];
            document.getElementById('evalHidden').value = "eliminar";
            var table = document.getElementById('table1');
            var check = table.getElementsByTagName("input");
            for (var i = 0; i < check.length; i++) {
                if (check[i].checked) {
                    listaEliminar.push(i);
                }
            }
            if (listaEliminar.length > 0) {
                for (var i = 0; i < listaEliminar.length; i++) {
                    var row = table.rows[listaEliminar[i]];
                    listaClientes.push(row.cells[4].textContent);
                }
                document.getElementById("listaClientes").value = listaClientes.toString();
                return true;
            }
            else {
                document.getElementById("alertaExito").className = "alert alert-warning";
                document.getElementById("alertaExito").innerHTML = "Debe seleccionar al menos una fila para eliminar";
                return false;
            }
        }
        $(document).ready(function () {
            $("#modalbtn").click(function () {
                $("#myModal").modal("show")
            });
        });
        $(document).ready(function () {
            $("#myModal").on("hidden.bs.modal", function () {
                window.location.href = "@Url.Action("RegistroCliente", "Cliente")";
            });
        });
    </script>
    <style>
        #sidebar {
            float: left;
        }

        #wrapper {
            width: 75%;
        }
    </style>
</head>
<body>
    @{
        Layout = "_LayoutPruebs";
    }
    @{
        var cc = new ClienteController();
        var dt = cc.GetClientes();
        int i = 0;
    }
    @using (Html.BeginForm("EliminarCliente", "Cliente", FormMethod.Post))
    {
        <div id="wrapper">
            <div class="main">
                <div class="inner">
                    <section style="">
                        <div id="alertaExito">
                        </div>
                        <input type="button" id="modalbtn" class="btn btn-success btn-size" value="Agregar" />
                        <input type="button" class="btn btn-primary btn-size" style="margin-left:1em;" id="editar" value="Editar" onclick="Editar()" />
                        <input type="submit" class="btn btn-primary btn-size" style="margin-left:1em;" id="eliminar" value="Eliminar" onclick="return Eliminar()" />
                        <input type="hidden" id="listaClientes" name="listaClientes" value="0" />
                        <input type="text" id="buscar" placeholder="Filtrar" style="width:30%; margin-left:20em; margin-bottom:1em;" />
                        <table border="1" class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        Acciones
                                    </th>
                                    <th scope="col">
                                        Nombre
                                    </th>
                                    <th scope="col">
                                        Apellido
                                    </th>
                                    <th scope="col">
                                        Sexo
                                    </th>
                                    <th scope="col">
                                        Cedula
                                    </th>
                                    <th scope="col">
                                        Telefono
                                    </th>
                                    <th scope="col">
                                        Direccion
                                    </th>
                                    <th scope="col">
                                        Correo Electronico
                                    </th>
                                    <th scope="col">
                                        Credito
                                    </th>
                                    <th scope="col">
                                        Balance
                                    </th>
                                    <th scope="col">
                                        Fecha de Registro
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table1" style="color:black;">
                                @foreach (DataRow x in dt.Rows)
                                {
                                    string id = i.ToString();
                                    int rownum = i;
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>@x["Nombre"].ToString()</td>
                                        <td>@x["Apellido"].ToString()</td>
                                        <td>@x["Sexo"].ToString()</td>
                                        <td>@x["Cedula"].ToString()</td>
                                        <td>@x["Telefono"].ToString()</td>
                                        <td>@x["Direccion"].ToString()</td>
                                        <td>@x["CorreoElectronico"].ToString()</td>
                                        <td>@x["Credito"].ToString()</td>
                                        <td>@x["Balance"].ToString()</td>
                                        <td>@x["FechaRegistro"].ToString()</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("RegistroCliente", "Cliente", FormMethod.Post))
    {
        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document" id="modalD">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><b id="titulo">Nuevo Cliente</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="alertaError">
                    </div>
                    <div class="modal-body modal-padding" id="modalBody">
                        <div class="row">
                            <div class="col-half">
                                <h6>Nombre</h6>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Nombre, new { @placeholder = "Nombre", @id = "nombre", @oninput = "nombre_Input('nombre')" });
                                </div>
                            </div>
                            <div class="col-half">
                                <h6>Apellido</h6>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Apellido, new { @placeholder = "Apellido", @id = "apellido", @oninput = "apellido_Input('apellido')" });
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-half">
                                <h6>Sexo</h6>
                                <div class="input-group">
                                    @Html.DropDownListFor(m => m.Sexo, new List<SelectListItem>
                                                                                                                { new SelectListItem{Text = "Masculino", Value = "M"},
                                                                                                                  new SelectListItem{Text = "Femenino", Value = "F"}},
                                                   "--Seleccionar--", new { @id = "sexo", @class = "dropSize" });
                                </div>
                            </div>
                            <div class="col-half">
                                <h6>Cedula</h6>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Cedula, new { @placeholder = "Cedula", @id = "cedula", @oninput = "cedula_Input('cedula')" });
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-half">
                                <h6>Telefono</h6>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Telefono, new { @placeholder = "Telefono", @id = "telefono", @oninput = "telefono_Input('telefono')" });
                                </div>
                            </div>
                            <div class="col-half">
                                <h6>Correo Electronico</h6>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.CorreoElectronico, new { @id = "correo", @placeholder = "ejemplo@correo.com", @oninput = "email_Input('correo')" });
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h6>Direccion</h6>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Direccion, new { @placeholder = "Direccion", @id = "direccion" });
                            </div>
                        </div>
                        <div class="row">
                            <h6>Credito</h6>
                            <div class="input-group">
                                @Html.CheckBoxFor(m => m.Credito, new { @id = "credito" })
                                <label for="credito">Autorizo este cliente para pagos de mercancias a credito</label>
                            </div>
                        </div>
                        <input type="submit" value="Guardar" onclick="return validarFormulario('myModal')" style="background-color:#7ed321; color:white;" />
                        <input type="hidden" name="evalHidden" id="evalHidden" value="false" />
                    </div>
                </div>
            </div>
        </div>

    }
    @if (ViewBag.Message == "Entrada ya existe")
    {
        ViewBag.Message = "Registro de un Cliente";
        <script>
            window.onload = function () {
                $("#myModal").modal("show");
                document.getElementById("alertaError").className = "alert alert-danger";
                document.getElementById("alertaError").innerHTML = "Ya existe un cliente con la cedula ingresado en la base de datos.";
            }
            window.onclick = function () {
                document.getElementById("alertaExito").className = "";
                document.getElementById("alertaExito").innerHTML = "";
            }
        </script>

    }
    @if (ViewBag.Message == "Exito")
    {
        <script>
            window.onload = function () {
                document.getElementById("alertaExito").className = "alert alert-success";
                document.getElementById("alertaExito").innerHTML = "Ha registrado un cliente con exito!";
            }
            window.onclick = function () {
                document.getElementById("alertaExito").className = "";
                document.getElementById("alertaExito").innerHTML = "";
            }
        </script>

    }
    <style>
        .modal-padding {
            padding-left: 30px;
            padding-right: 30px;
        }

        .btn-size {
            width: 9%;
        }

        body {
            background-color: white;
        }

        .dropSize {
            width: 100%;
        }

        h6 {
            color: green;
        }
    </style>
</body>
</html>


