@{

    ViewBag.Title = "RecepcionCompra";
}
@model Veterimax.Models.Compra
@using System.Data
@using Veterimax.Controllers
@using Newtonsoft.Json
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ver Compras</title>
    <title>Registro de Cliente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/formstyle.css">
    <script type="text/javascript" src="~/js/Validacion.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style>
        #sidebar {
            float: left;
        }

        #wrapper {
            width: 75%;
        }

        .main {
            width: 95%;
        }
    </style>
</head>
<body>
    @{
        Layout = "_LayoutPruebs";
    }
    @{
        var cc = new CompraController();
        var dtCompras = cc.GetComprasPendientes();
        var dtDetalles = cc.GetDetalles();
        var jsDetalles = JsonConvert.SerializeObject(dtDetalles);
        var jsCompra = JsonConvert.SerializeObject(dtCompras);
        int i = 0;
        int x = 0;
    }
    @using (Html.BeginForm("CancelarCompra", "Compra", FormMethod.Post))
    {
        <div id="wrapper">
            <div class="main">
                <div class="inner">
                    <section style="">
                        <div class="row">
                            <div class="col-half">
                                <div class="input-group">
                                    <input type="submit" onclick="Cancelar()" value="Cancelar Orden" style="width:50%" />
                                </div>
                            </div>
                            <div class="col-half">
                                <div class="col-half">
                                    <input type="button" onclick="ver_Detalles()" class="btn btn-primary" value="Confirmar Recepcion" />
                                </div>
                            </div>
                        </div>
                        <input type="text" id="buscar" placeholder="Filtrar" style="width:40%; margin-bottom:1em; position:relative; left:30em;" />
                        <table border="1" class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        Acciones
                                    </th>
                                    <th scope="col">
                                        No. de Orden
                                    </th>
                                    <th scope="col">
                                        Suplidor
                                    </th>
                                    <th scope="col">
                                        Solicitante
                                    </th>
                                    <th scope="col">
                                        Total de ITBIS
                                    </th>
                                    <th scope="col">
                                        Monto Total
                                    </th>
                                    <th scope="col">
                                        Estado
                                    </th>
                                    <th scope="col">
                                        Fecha de Registro
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table1" style="color:black;">
                                @foreach (DataRow a in dtCompras.Rows)
                                {
                                    string id = i.ToString();
                                    string idCompra = a["IdCompra"].ToString();
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>@a["IdCompra"].ToString()</td>
                                        <td>@a["Empresa"].ToString()</td>
                                        <td>@a["Solicitante"].ToString()</td>
                                        <td>$@a["TotalITBIS"].ToString()</td>
                                        <td>$@a["Total"].ToString()</td>
                                        <td>@a["Estado"].ToString()</td>
                                        <td>@a["FechaRegistro"].ToString()</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <input type="hidden" id="listaCompras" name="listaCompras" value="0" />
    }

    @using (Html.BeginForm("RecepcionCompra", "Compra", FormMethod.Post))
    {
        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog modal-lg" role="document" id="modalD">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><b id="titulo"></b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modal-padding" id="modalBody">
                        <table border="1" class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        No. de Lote
                                    </th>
                                    <th scope="col">
                                        Producto
                                    </th>
                                    <th scope="col">
                                        Cantidad Esperada
                                    </th>
                                    <th scope="col">
                                        Cantidad Recibida
                                    </th>
                                    <th scope="col">
                                        Ubicacion
                                    </th>
                                    <th scope="col">
                                        Fecha de Expiracion
                                    </th>
                                    <th scope="col">
                                        Costo
                                    </th>
                                    <th scope="col">
                                        ITBIS
                                    </th>
                                    <th scope="col">
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table2" style="color:black;"></tbody>
                        </table>
                        <h6>Comentarios</h6>
                        @Html.TextAreaFor(m => m.Comentarios)
                        <input type="submit" id="guardar" value="Aprobar" onclick="get_Datos()" style="background-color:#7ed321; color:white;" />
                        <input type="hidden" name="loteHidden" id="loteHidden" value="0" />
                        <input type="hidden" name="cantidadHidden" id="cantidadHidden" value="0" />
                        <input type="hidden" id="hidden" name="hidden" value="0" />
                        <input type="hidden" name="expiracionHidden" id="expiracionHidden" value="0" />
                        <input type="hidden" name="fechaHidden" id="fechaHidden" value="0" />
                        <input type="hidden" name="productosHidden" id="productosHidden" value="0" />
                        <input type="hidden" name="compraIdHidden" id="compraIdHidden" value="0" />
                        <input type="hidden" name="ubicacionHidden" id="ubicacionHidden" value="0" />
                    </div>
                </div>
            </div>
        </div>
    }

    <style>
        .modal-padding {
            padding-left: 30px;
            padding-right: 30px;
        }

        .btn-size {
            width: 10%;
            position: relative;
            left: 3em;
            top: 3em;
            padding: 0em;
        }

        body {
            background-color: white;
        }

        .dropSize {
            width: 100%;
        }

        h6 {
            color: green;
        }
    </style>
    <script>
        function ver_Detalles() {
            var table = document.getElementById("table2");
            var table1 = document.getElementById("table1");
            var fecha = "";
            var cn = 0;
            var js = @Html.Raw(jsDetalles);
            var rowcount = table.rows.length + 1;
            var listaProductos = [];
            var count = -1;
            var check = table1.getElementsByTagName("input");
            for (var i = 0; i < check.length; i++) {
                if (check[i].checked) {
                    if (count > -1) {
                        count = -1;
                        document.getElementById("alertaExito").className = "alert alert-warning";
                        document.getElementById("alertaExito").innerHTML = "No puede seleccionar mas de una fila para entrar en modo edicion.";
                        break;
                    }
                    count = cn;
                }
                cn++;
            }
            var id = table1.rows[count].cells[1].textContent;
            document.getElementById("titulo").innerHTML = "Orden No. " + id;
            fecha = table1.rows[count].cells[7].textContent;
            for (var i = 0; i < js.length; i++) {
                if (js[i].IdCompra == id) {
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    var td2 = document.createElement("td");
                    var td3 = document.createElement("td");
                    var td4 = document.createElement("td");
                    var td5 = document.createElement("td");
                    var td6 = document.createElement("td");
                    var td7 = document.createElement("td");
                    var td8 = document.createElement("td");
                    var td9 = document.createElement("td");
                    var loteBox = document.createElement("input");
                    loteBox.type = "text";
                    loteBox.id = "loteBox" + rowcount;
                    var cantidadBox = document.createElement("input");
                    cantidadBox.type = "text";
                    cantidadBox.id = "cantidadBox" + rowcount;
                    var expiracionBox = document.createElement("input");
                    expiracionBox.type = "text";
                    var ubicacionBox = document.createElement("input");
                    ubicacionBox.type = "text";
                    td1.innerHTML = js[i].Descripcion;
                    td2.innerHTML = js[i].Costo;
                    td3.innerHTML = "$" + js[i].Cantidad;
                    td4.innerHTML = "$" + js[i].ITBIS;
                    td5.innerHTML = "$" + js[i].Total;
                    listaProductos.push(js[i].IdProducto);
                    td6.appendChild(loteBox);
                    td7.appendChild(cantidadBox);
                    td8.appendChild(expiracionBox);
                    td9.appendChild(ubicacionBox);
                    table.appendChild(tr);
                    tr.appendChild(td6);
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td7);
                    tr.appendChild(td9);
                    tr.appendChild(td8);
                    tr.appendChild(td3);
                    tr.appendChild(td4);
                    tr.appendChild(td5);
                }
                document.getElementById("productosHidden").value = listaProductos.toString();
                document.getElementById("fechaHidden").value = fecha;
                document.getElementById("compraIdHidden").value = id.toString();
            }
            $("#myModal").modal("show");
        }

        function get_Datos() {
            var listaLotes = [];
            var listaCantidades = [];
            var listaExpiraciones = [];
            var listaUbicaciones = [];
            var table = document.getElementById('table2');
            var txtBoxes = table.getElementsByTagName('input');
            for (var i = 0; i < txtBoxes.length; i+=4) {
                listaLotes.push(txtBoxes[i].value);
                listaCantidades.push(txtBoxes[i + 1].value);
                listaExpiraciones.push(txtBoxes[i + 3].value);
                listaUbicaciones.push(txtBoxes[i + 2].value);
            }
            document.getElementById('loteHidden').value = listaLotes.toString();
            document.getElementById('cantidadHidden').value = listaCantidades.toString();
            document.getElementById('expiracionHidden').value = listaExpiraciones.toString();
            document.getElementById('ubicacionHidden').value = listaUbicaciones.toString();
        }

        function Cancelar() {
            var listaEliminar = [];
            var listaCompras = [];
            var count = 0;
            var table = document.getElementById('table1');
            var check = table.getElementsByTagName("input");
            for (var i = 0; i < check.length; i += 3) {
                if (check[i].checked) {
                    listaEliminar.push(count);
                }
                count++;
            }
            if (listaEliminar.length > 0) {
                for (var i = 0; i < listaEliminar.length; i++) {
                    var row = table.rows[listaEliminar[i]];
                    listaCompras.push(row.cells[1].textContent);
                }
                document.getElementById("listaCompras").value = listaCompras.toString();
                return true;
            }
            else {
                document.getElementById("alertaExito").className = "alert alert-warning";
                document.getElementById("alertaExito").innerHTML = "Debe seleccionar al menos una fila para eliminar";
                return false;
            }
        }

        $(document).ready(function () {
            $("#myModal").on("hidden.bs.modal", function () {
                location.reload();
            });
        });
    </script>
</body>
</html>
